.cart {
  max-width: 1440px;
  padding: 20px 60px;
  margin: 80px auto;
  font-family: var(--font);

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__empty {
    font-style: italic;
    color: #888;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 12px;
    background: #fdfcf6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

  &__image {
    width: 130px;
    height: 100px;
    object-fit: cover;
  }

  &__info {
    font-size: 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__name {
    font-weight: 600;
    color: #333;
  }

  &__color {
    color: #555;

    span {
      font-weight: bold;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      width: 25px;
      height: 25px;
      background: #eee;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #ccc;
      }
    }
  }

  &__price {
    color: #333;
    font-weight: 500;
    margin-top: 8px;
  }

  &__delete {
    font-size: 16px;
    background: transparent;
    color: red;
    border: none;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      color: darkred;
      font-weight: bold;
    }
  }

  &__total {
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }
}
