:root {
  --font: "Be Vietnam Pro", sans-serif;
}

// Banner
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 76px;
  overflow: hidden;

  &__container {
    width: 100%;
    height: 100%;
  }

  .bannerBg {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

// End Banner

// BikeIntro
.bike-intro {
  background-color: #fffbec;

  &__container {
    display: flex;
    max-width: 1200px;
    margin: 80px auto;
    gap: 4rem;
    align-items: center;
    font-family: var(--font);

    @media (max-width: 992px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__image img {
    max-width: 100%;
    height: auto;
  }

  &__content {
    flex: 1;

    h2,
    h3 {
      text-align: center;
    }
  }

  &__title {
    color: #333;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__subtitle {
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
  }

  &__desc {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #555;

    span {
      font-weight: bold;
    }
  }

  &__features {
    list-style: none;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    color: #333;
    font-size: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: 175px;
    text-decoration: none;
    background-color: #fffbec;
    color: #333;
    border: 2px solid #9ad7fd;
    padding: 0.8rem 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    border-radius: 5px;

    &:hover {
      background: #6ac5f1;
      color: #fff;
      border-color: #ddd;
      box-shadow: 0 0 15px #6ac5f1, 0 0 30px #6ac5f1;
      transform: translateY(-3px);
    }
  }
}
// End BikeIntro
