.product__location {
  background-color: #e8e6dc;
  width: 100%;
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 76px;
  margin-bottom: 0;

  span {
    font-weight: bold;
  }
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
  }
}

.product__left {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  margin-top: -20px;

  .product__main-image {
    width: 100%;
    max-width: 600px;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

.product__right {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;

  .product__title {
    font-size: 32px;
    font-weight: 700;
    color: #333;
  }

  .product__rating {
    color: #fbbf24;
    font-size: 30px;
  }

  .product__meta {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    &-brand {
      font-weight: bold;
    }
    &-code {
      font-weight: bold;
    }
  }

  .product__price {
    margin-bottom: 10px;

    &--current {
      font-size: 28px;
      font-weight: bold;
      color: #d70018;
      margin-right: 10px;
    }

    &--old {
      text-decoration: line-through;
      color: #888;
      margin-right: 10px;
    }

    &--discount {
      color: #fff;
      background-color: #d70018;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: 500;
    }

    &--savings {
      display: block;
      font-size: 15px;
      color: #28a745;
      margin-top: 8px;
    }
  }

  .product__promotion-box {
    background-color: #e2dede;
    border: 1px dashed #333;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;

    strong {
      display: block;
      margin-bottom: 10px;
      color: #d70018;
    }

    ul {
      padding-left: 20px;
      list-style: disc;
      color: #444;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      width: 100%;
    }
  }

  .product__buy-login-btn,
  .product__buy-now {
    background-color: #1a1a1a;
    color: #fffbec;
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }

  .product__buy-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    .product__quantity {
      display: flex;
      border: 1px solid #ccc;

      button {
        width: 30px;
        background: #fff;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }

      input {
        width: 40px;
        text-align: center;
        border: none;
      }
    }

    .product__add-to-cart {
      flex: 1;
      border: 1px solid #111;
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
      background: #fff;
    }
  }

  .product__hotline {
    font-size: 18px;
    margin-bottom: 1rem;
    text-align: center;

    .product__hotline-number {
      color: #fbbf24;
      font-weight: bold;
      margin: 0 4px;
    }
  }

  .product__benefits {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    color: #333;

    span {
      display: flex;
      align-items: center;
      gap: 8px;

      i {
        width: 20px;
        text-align: center;
      }
    }
  }
}
