.checkout-address {
  margin-top: 90px;
  font-family: var(--font);

  .checkout-address__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    gap: 8px;

    &--icon {
      font-size: 24px;
      color: #333;
    }
  }
  &__row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__form {
    flex: 1;
    background-color: #fffbec;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }

  &__group {
    flex: 1;
    display: flex;
    flex-direction: column;

    label {
      font-weight: 500;
      margin-bottom: 6px;
    }

    input,
    textarea,
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      background-color: #fdfcf6;
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }
  }

  .btn {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;

    &--primary {
      background: #4caf50;
      color: #fff;
      border: none;

      &:hover {
        background: #29762c;
      }
    }

    &--secondary {
      background: #f0f0f0;
      color: #333;
      border: 1px solid #ccc;

      &:hover {
        background: #fdfcf6;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

    @media (max-width: 480px) {
      flex-direction: column;

      .btn {
        width: 100%;
      }
    }
  }

  &__right {
    margin-top: 20px;
    flex: 0 0 330px;
    line-height: 1.8;
    color: #333;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
      flex: 1;
    }
  }
}

.orderSummary {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    background: #ffbe55;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .summary__note {
    background: #fff3cf;
    padding: 8px;
    font-size: 14.5px;
    border-left: 4px solid orange;
    margin: 10px 0;
    font-style: italic;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #333;

    &--total {
      font-size: 18px;
      font-weight: 700;
      border-top: 1px solid #ddd;
      padding-top: 10px;
      margin-top: 10px;
      font-family: var(--font);
    }
  }

  &__note {
    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;
      resize: vertical;
      background: #fdfcf6;
    }
  }
  &__account {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  &__checkoutBtn {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #29762c;
    }
  }
}
