.business-hours {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f1e9d2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-family: var(--font);

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 18.5px;

    span {
      color: #333;
    }
  }
}
