.contact-info {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f1e9d2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-family: var(--font);

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 15px;

    span {
      display: block;
      font-weight: 500;
      font-size: 14px;
      color: #222;
    }

    div {
      color: #d6001c;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
