.filter-sidebar {
  max-width: 290px;
  padding: 15px;
  background-color: #e9e8e8;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 17px;
  z-index: 1;
  height: calc(100vh - 100px);
  overflow-y: auto;
  font-family: var(--font);

  @media (max-width: 1920px) {
    position: sticky;
    top: 88px;
    width: 100%;
  }

  @media (max-width: 1440px) {
    position: sticky;
    top: 88px;
    width: 100%;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
}

.filter-group {
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 1px dashed #9d7878;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #333;
  }

  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.2s ease;
    font-weight: normal;
    font-size: 17px;

    @media (max-width: 1920px) {
      line-height: 2.4;
    }
    @media (max-width: 1440px) {
      line-height: 1.2;
    }

    &:hover {
      font-weight: 600;
    }

    input[type="checkbox"] {
      margin-right: 10px;
      accent-color: #333;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}

.filter-group[data-type="brand"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 8px;
  align-items: center;
  line-height: 1.05;

  .filter-group__title {
    grid-column: span 2;
    font-weight: bold;
  }

  .filter-group__option {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
