.product-slider {
  background-color: #fffbec;
  text-align: center;
  margin-top: 60px;
  overflow: hidden;

  &__container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    animation: fadeInUp 0.8s ease forwards;
  }

  // Icon
  .product-slider__line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 2.5px;
      background-color: #bab9b9;
      border-radius: 5px;
    }
  }

  .product-slider__icon {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    animation: spin 3s linear infinite;
    transform-origin: center;
    position: relative;
    z-index: 2;
    will-change: transform;
    align-items: center;
    justify-content: center;
  }

  .wheel-icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: #333;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__slide {
    padding: 10px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &--active {
      transform: scale(1.2);
      z-index: 3;
    }
  }
  &__link {
    text-decoration: none;
    color: #333;
  }

  &__card {
    background: #fffbec;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;

    &:hover {
      background-color: #e6f4ff;
      box-shadow: 0 0 18px rgba(0, 123, 255, 0.2);
      border-color: #91d5ff;
      transform: translateY(-3px);
    }

    &-image {
      width: 100%;
      height: 240px;
      object-fit: contain;
      margin-bottom: 12px;
    }

    &-rating {
      color: #fbc02d;
      font-size: 16px;
      margin-bottom: 8px;
    }

    &-name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    &-price {
      font-size: 14px;
      color: red;
    }
  }

  .slick-slider {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .slick-list {
    overflow: visible !important;
  }

  .slick-arrow {
    display: block;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: 50%;
    margin-left: 10px;
    margin-right: 10px;

    &:before {
      font-size: 20px;
      color: white;
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .product-slider__slide {
    transform: scale(0.95);
  }

  .product-slider__slide--active {
    transform: scale(0.95);
  }

  .product-slider__card {
    padding: 12px;
    margin: 16px auto;
    width: 90%;

    &-image {
      height: 160px;
    }

    &-name {
      font-size: 15px;
    }

    &-price {
      font-size: 13px;
    }

    &-rating {
      font-size: 13px;
    }
  }

  .product-slider__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .slick-arrow {
    width: 30px;
    height: 30px;
    top: 35% !important;
    background-color: rgba(0, 0, 0, 0.3) !important;

    &:before {
      font-size: 16px;
      color: white;
    }
  }
}
