@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  --color-one: #103075;
  --color-two: #292929;
  --color-text: #333;
  --font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  color: var(--color-text);
}
a {
  text-decoration: none; /*làm mất gạch chân*/
}
.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
