.header {
  background-color: #fffbec;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 7px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 76px;
  z-index: 1000;
  font-family: var(--font);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    position: relative;
  }

  &__left {
    .header__logo img {
      height: 45px;
      display: block;
      max-width: 100%;
    }
  }

  &__center {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .header__main-menu {
      list-style: none;
      display: flex;
      gap: 60px;
      padding: 0;
      margin: 0;

      li a {
        text-decoration: none;
        color: #333;
        font-size: 20px;
        display: inline-block;
        position: relative;
        padding: 5px 0;
        min-height: 28px;
        border-bottom: 1px solid transparent;

        &:hover {
          color: #6ac5f1;
        }
      }

      .header__main-menu--active {
        color: #333;
        font-weight: 600;
        border-bottom: 2px solid #6ac5f1;

        &::after {
          content: none;
        }
      }
    }
  }

  &__right {
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 20px;

    .header__search {
      display: flex;
      align-items: center;
      position: relative;

      input {
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        margin-right: 5px;
        background-color: #fffbec;
        transition: all 0.3s ease;
        width: 150px;
        opacity: 1;
        pointer-events: all;
      }

      svg {
        font-size: 22px;
        cursor: pointer;
      }

      @media (max-width: 768px) {
        input {
          width: 0;
          opacity: 0;
          padding: 0;
          margin-right: 0;
          pointer-events: none;
        }

        &.active input {
          width: 140px;
          opacity: 1;
          padding: 6px 10px;
          margin-right: 5px;
          pointer-events: all;
        }
      }
    }

    .header__cart {
      position: relative;

      svg {
        font-size: 22px;
      }

      .header__quantity-cart {
        position: absolute;
        top: 0px;
        right: -8px;
        background: red;
        color: white;
        width: 16px;
        height: 16px;
        font-size: 10px;
        border-radius: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .header__user svg {
      font-size: 22px;
      cursor: pointer;
    }
  }

  .header__menu-icon {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 28px;
      cursor: pointer;
      z-index: 1001;
    }
  }
  @media (max-width: 992px) {
    .header__main-menu {
      gap: 30px;
      li a {
        font-size: 16px;
      }
    }

    .header__logo img {
      height: 40px;
    }
  }

  @media (max-width: 768px) {
    .header__center {
      display: block;
    }

    .header__main-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 76px;
      left: 0;
      width: 50%;
      margin: 0 auto;
      background-color: #fffbec;
      text-align: center;
      padding: 1rem 0;
      border-radius: 15px;

      &.open {
        display: flex;
      }

      li {
        margin: 10px 0;

        a {
          font-size: 20px;
        }
      }
    }

    .header__logo img {
      height: 36px;
    }

    .header__left {
      position: absolute;
      left: 10px;
    }

    .header__right {
      position: absolute;
      right: 10px;
      gap: 10px;
    }
  }

  @media (min-width: 769px) {
    .header__menu-icon {
      display: none;
    }
  }
}

.user-dropdown {
  // position: relative;
  &__menu {
    position: absolute;
    top: 76px;
    right: 0;
    background-color: #fffbec;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
    width: 230px;
    z-index: 100;
    animation: fadeIn 0.2s ease-in-out;
  }

  &__item {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s ease;
    color: #333;

    &:hover {
      background-color: #dad8d8;
      color: #6ac5f1;
    }

    &--logout {
      color: #e74c3c;
      font-weight: 500;
    }
  }

  &__icon {
    font-size: 25px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
